*,
::before,
::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0px;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizespeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Libre Franklin", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 67px 0px 5px;
}

.main-container__logo {
    width: 70px;
}

.main-container__title {
    font-weight: 300;
    color: rgb(150, 150, 150);
    margin-top: 35px;
    font-size: 2.3rem;
}

em {
    font-style: normal;
    color: black;
    font-weight: 700;
}

.main-container__dashboard {
    margin: 60px 0px;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 345px;
    align-items: center;
    margin-top: 10px;
}

.main-container__h2 {
    margin: 10px 0px 30px;
    font-size: 1.3rem;
}

.form__input,
.form__button {
    border-radius: 25px;
    padding: 13px;
    border: 1px solid rgb(194, 211, 255);
    min-width: 75%;
}

.form__button {
    background-color: rgb(79, 125, 243);
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.2rem;
}

input:invalid {
    border-color: rgb(255, 82, 99);
}

input:focus:invalid {
    outline: none;
    border-color: rgb(255, 82, 99);
}

input:focus-visible {
    border-color: rgb(194, 211, 255);
    outline: none;
}

input::placeholder {
    color: rgb(194, 211, 255);
}

input::placeholder,
.form__button {
    font-size: 1.2rem;
}

.error {
    font-size: 1rem;
    border-radius: 0px 0px 5px 5px;
    color: rgb(255, 82, 137);
    box-sizing: border-box;
    font-style: italic;
    margin-bottom: 12px;
}

.error.active {
    padding: 0.3em;
}

.fa-brands {
    width: 25px;
    color: rgb(79, 125, 243);
    border: 1px solid rgb(194, 211, 255);
    border-radius: 100%;
    font-size: 12px;
    margin: 3px;
    text-align: center;
    padding: 5px;
}

.footer__copyright {
    color: rgb(150, 150, 150);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: rgb(62, 82, 163);
}

@media only screen and (min-width: 37.5em) {
    .main-container__title {
        font-size: 4rem;
    }

    .main-container__h2 {
        font-size: 1.7rem;
    }

    .form {
        flex-flow: row wrap;
        min-width: 540px;
        gap: 3px;
    }

    .form__input,
    .form__button {
        min-width: 35%;
    }

    .form__input {
        min-width: 64%;
    }

    input::placeholder,
    .form__button {
        font-size: 1.3rem;
    }

    .error {
        order: 3;
    }

    .main-container__dashboard {
        max-width: 500px;
    }
}